/* general */
html, body {
    height: 100%;
}

textarea {
    resize: none;
}

.container {
    margin-bottom: 3em;
}

/* header and nav */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;

    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.nav {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    margin-left: 2em;
}

.nav li a {
    font-size: larger;
}

/* chat messages */
#chat {
    height: 100%;
    overflow-y: scroll;

    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.chat-message {
    border-width: 0.1;
}

.chat-message-assistant {
    color: #111;
    background-color: #fefffe;

    border-top-width: 1px;
    border-color: #444;
    border-top-style: solid;
}

.chat-message-user {
    color: #444;
}

/* chat input */
#chat-input {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10em;
    width: 100%;
}

